name: General CI

on:
  push:
    paths-ignore:
      - "**.md"
  pull_request:
    paths-ignore:
      - "**.md"

jobs:
  v-compiles-sdl-examples:
    runs-on: ubuntu-18.04
    timeout-minutes: 30
    env:
      VFLAGS: -cc tcc -no-retry-compilation
      SDL2_VERSION: 2.0.9
    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install --quiet -y libsdl2-ttf-dev
          sudo apt-get install --quiet -y libsdl2-mixer-dev libsdl2-image-dev
          curl -L https://www.libsdl.org/release/SDL2-${SDL2_VERSION}.tar.gz -o SDL2.tar.gz
          tar -zxvf SDL2.tar.gz
      - name: Build SDL
        run: |
          cd SDL2-${SDL2_VERSION}
          mkdir build
          cd build
          ../configure --prefix /tmp/sdl2-${SDL2_VERSION}
          make
          make install

      - name: Checkout V
        uses: actions/checkout@v2
        with:
          repository: vlang/v
      - name: Build local v
        run: make && sudo ./v symlink

      - name: Checkout SDL
        uses: actions/checkout@v2
        with:
          path: sdl

      - name: Link local SDL folder in ~/.vmodules/sdl
        run: |
          cd sdl
          mkdir -p ~/.vmodules
          ln -s $(pwd) ~/.vmodules/sdl

      - name: Test code formatting
        run: |
          cd sdl
          v test-fmt

      - name: Build sdl shared
        run: |
          export SDL_V_CFLAGS="$(/tmp/sdl2-${SDL2_VERSION}/bin/sdl2-config --cflags --libs)"
          v -cflags "$SDL_V_CFLAGS" -shared -g sdl

      - name: Run tests
        run: v test sdl

      - name: Build sdl examples
        run: |
          export SDL_V_CFLAGS="$(/tmp/sdl2-${SDL2_VERSION}/bin/sdl2-config --cflags --libs)"
          v -cflags "$SDL_V_CFLAGS" run sdl/examples/versions
          for example in sdl/examples/*; do
              echo "v -cflags \"$SDL_V_CFLAGS\" $example"
              v -cflags "$SDL_V_CFLAGS" "$example";
          done

      - name: Test SDL version
        run: |
          VER="$(v run sdl/examples/version)"
          echo "${SDL2_VERSION} == $VER ?"
          test "${SDL2_VERSION}" = "$VER" || exit 1
